/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/hera-airdrop/airdrop.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.faucet-hr {
    margin-top: 4px;
    border-color: #ababab;
    width: 45%;
}

.title-2 {
    border-left: 4px solid #000000;
    padding-left: 10px;
}

.airdrop-textarea{
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    padding: 6px 10px;
    outline: none;
}

.airdrop-textarea::-moz-placeholder{
    color: #838383; /* 设置 placeholder 文字颜色 */
    font-style: italic; /* 设置 placeholder 文字斜体 */
    opacity: 0.7; /* 设置 placeholder 透明度 */
    font-size: 14px;
    padding-left: 4px;
    padding-top: 4px;
}

.airdrop-textarea::placeholder{
    color: #838383; /* 设置 placeholder 文字颜色 */
    font-style: italic; /* 设置 placeholder 文字斜体 */
    opacity: 0.7; /* 设置 placeholder 透明度 */
    font-size: 14px;
    padding-left: 4px;
    padding-top: 4px;
}

.airdrop-textarea:focus {
    border: 1px solid #000000 !important;
}

.address-button:hover {
    background-color: #2a2a2a;
}

.drop-btn {
    width: 591px;
}

