/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/address-builder/address-builder.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.address-search-form input {
    width: 45%;
    padding: 6px;
    margin: 10px 0;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.address-search-form .check-box {
    width: 15px;
}

.address-table > div:last-child {
    border-bottom: 1px solid black;
}

.address-hr {
    margin-top: 4px;
    border-color: #ababab;
    width: 45%;
}

.address-search-form input:focus {
    border: 1px solid #000000;
}

.address-search-form input::-moz-placeholder {
    color: #838383; /* 设置 placeholder 文字颜色 */
    font-style: italic; /* 设置 placeholder 文字斜体 */
    opacity: 0.7; /* 设置 placeholder 透明度 */
    font-size: 14px;
    padding-left: 4px;
}

.address-search-form input::placeholder {
    color: #838383; /* 设置 placeholder 文字颜色 */
    font-style: italic; /* 设置 placeholder 文字斜体 */
    opacity: 0.7; /* 设置 placeholder 透明度 */
    font-size: 14px;
    padding-left: 4px;
}

.title-2 {
    border-left: 4px solid #000000;
    padding-left: 10px;
}

.address-button:hover {
    background-color: #2a2a2a;
}

.tip {
    margin-top: 4px;
    font-size: 14px;
    font-style: italic;
}


.address-radio {
    width: 26px !important;
}

.mid-input {
    margin-left: 14px !important;
}

