/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/hera-faucet/hera-faucet.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.title-2 {
    border-left: 4px solid #000000;
    padding-left: 10px;
}

.faucet-hr {
    margin-top: 4px;
    border-color: #ababab;
    width: 45%;
}

.address-button:hover {
    background-color: #2a2a2a;
}

